<div class="card card-xl-stretch mb-xl-10 theme-dark-bg-body" style="background-color: #F7D9E3">
    <!--begin::Body-->
    <div class="card-body d-flex flex-column">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-grow-1">
            <!--begin::Title-->
            <a href="#" class="text-gray-900 text-hover-primary fw-bold fs-3">Evolution du credit</a>
            <!--end::Title-->
            <!--begin::Chart-->
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [grid]="chartOptions.grid"
                    [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis"
                    [dataLabels]="chartOptions.dataLabels"
                    [stroke]="chartOptions.stroke"
                    [legend]="chartOptions.legend"
                    [fill]="chartOptions.fill"
                    [states]="chartOptions.states"
                    [tooltip]="chartOptions.tooltip"
                    [colors]="chartOptions.colors"
                    [markers]="chartOptions.markers"
                    [plotOptions]="chartOptions.plotOptions"
                ></apx-chart>
            <!--end::Chart-->
        </div>
        <!--end::Wrapper-->
        <!--begin::Stats-->
        <div class="pt-5">
            <!--begin::Symbol-->
            <span class="text-gray-900 fw-bold fs-2x lh-0">$</span>
            <!--end::Symbol-->
            <!--begin::Number-->
            <span class="text-gray-900 fw-bold fs-3x me-2 lh-0">560</span>
            <!--end::Number-->
            <!--begin::Text-->
            <span class="text-gray-900 fw-bold fs-6 lh-0">+ 28% this week</span>
            <!--end::Text-->
        </div>
        <!--end::Stats-->
    </div>
    <!--end::Body-->
</div>