<form class="row g-3">
  <div class="col-12">
    <label for="inputAddress" class="form-label">Nom de l'équipement</label>
    <input type="text" class="form-control" id="inputAddress" required>
  </div>
  <div class="col-12">
    <label for="">Description</label>
    <textarea class="form-control"id=""></textarea>
  </div>
  <div class="col-12">
    <label for="formFile" class="form-label">Image</label>
    <input class="form-control" type="file" id="formFile" required>
  </div>
  <div class="col-md-4">
    <label for="" class="form-label">Poids Minumuim</label>
    <input type="number" class="form-control" id="">
  </div>
  <div class="col-md-4">
    <label for="" class="form-label">Poids Maximuim</label>
    <input type="number" class="form-control" id="">
  </div>
  <div class="col-md-4">
    <label for="" class="form-label">Type d'equipement</label>
    <select id="" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-12">
    <label for="" class="form-label">Zone Cible</label>
    <div class="row g-3 mt-2">
      <div class="form-check form-check-custom mb-3 form-check-lg col-4">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckboxLg"/>
          <label class="form-check-label" for="flexCheckboxLg">
              Large checkbox
          </label>
      </div>
      <div class="form-check form-check-custom mb-3 form-check-lg col-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckboxLg"/>
        <label class="form-check-label" for="flexCheckboxLg">
            Large checkbox
        </label>
      </div>
      <div class="form-check form-check-custom mb-3 form-check-lg col-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckboxLg"/>
        <label class="form-check-label" for="flexCheckboxLg">
            Large checkbox
        </label>
      </div>
      <div class="form-check form-check-custom mb-3 form-check-lg col-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckboxLg"/>
        <label class="form-check-label" for="flexCheckboxLg">
            Large checkbox
        </label>
      </div>
      <div class="form-check form-check-custom mb-3 form-check-lg col-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckboxLg"/>
        <label class="form-check-label" for="flexCheckboxLg">
            Large checkbox
        </label>
      </div>
      <div class="form-check form-check-custom mb-3 form-check-lg col-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckboxLg"/>
        <label class="form-check-label" for="flexCheckboxLg">
            Large checkbox
        </label>
      </div>
    </div>
  </div>
</form>